html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(58, 58, 58);
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(82, 125, 153);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: white;
    text-shadow: 3px 3px 1px black;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: white;
}

img {
    display: block;
    margin: 0 auto; 
}